<div class="box2">
  <div class="box3">
    <h3>映画一覧</h3>
    <table>
      <tr>
        <th>タイトル</th>
        <th>監督名</th>
        <th>ジャンル</th>
        <th></th>
        <th></th>
      </tr>
      <tr>
      <% @movies.each do |movie| %>
        <td><%= movie.title %></td>
        <td><%= movie.director_name %></td>
        <td><%= movie.genre.name %></td>
        <td><%= link_to "編集", edit_admin_movie_path(movie.id),class:"btn btn-sm btn-danger" %></td>
        <td><%= link_to "詳細", admin_movie_path(movie.id),class:"btn btn-sm btn-secondary" %></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <% end %>
    </table>
    <%= paginate @movies %>
  </div>
</div>