<div class="box2">
  <div class="box3">
    <table>
      <!--<thead>-->
        <!--<tr>-->
          <!--<th>タイトル</th>-->
          <!--<th>コメントタイトル</th>-->
          <!--<th>目的</th>-->
          <!--<th>達成度</th>-->
          <!--<th colspan="1"></th>-->
          <!--<th colspan="1"></th>-->
          <!--<th colspan="1"></th>-->
        <!--</★
      <!--</thead>-->
      <% @reviews.each do |review| %>
        <tr>
          <td>◎<%= review.movie.title %></td>
          <td>タイトル：<%= review.comment_title %></td>
          <td>目的：<%= review.purpose %></td>
          <td>
            <div class="star">
              <% if review.star? %>
                <% for i in 1..review.star do %>
                ★
                <% end %>
              <% end %>
            </div>
          </td>
          <td><%= link_to '詳細', user_review_path(review), class:"btn btn-sm btn-primary" %>
          <%= link_to '削除', user_review_path(review), method: :delete, class:"btn btn-sm btn-danger" %>
          <%= link_to '編集', edit_user_movie_path(review), method: :get, class:"btn btn-sm btn-success" %></td>
        </tr>
        <tr>
          <td></td>
        </tr>
      <% end %>
    </table>
    <%= paginate @reviews %>
  </div>
</div>