<h4>レビューページ</h4>
<%= form_with model:@review, url:user_reviews_path, method: :post, local:true do |f| %>



    <%= f.label :comment_title, "コメントのタイトル" %>
    <%= f.text_field :comment_title %><br>
    <%= f.label :purpose, "この映画を観た目的はなんですか？" %>
    <%= f.text_field :purpose %><br>
    <%= f.label :star, '目的の達成度' %>
    <%= f.attachment_field :image %>

    <%= f.label :comment, "コメント記載欄" %>
    <%= f.text_area :comment, :size => "40x10" %>


    <%= f.label :spoiler, "ネタバレはこちらに記載してください" %>
    <%= f.text_area :spoiler, :size => "40x10" %>



    <%= f.submit "新規登録" %>


<% end %>