<div class="box2">
  <div class="box3">
    <h2>映画の検索</h2>
    <%= search_form_for @q, url: search_user_movies_path do |f| %>
      <%= f.label :title_cont, '映画のタイトル' %><br>
      <%= f.search_field :title_cont %>
      <%= f.submit '検索' %>
    <% end %>
    <%= search_form_for @q, url: search_user_movies_path do |f| %>
      <%= f.label :genre_id_eq,"映画のジャンル" %><br>
      <%= f.collection_select :genre_id_eq, Genre.all, :id, :name, include_blank: "--選択して下さい--" %>
      <%= f.submit '検索' %>
    <% end %>
  </div>
</div>