<div class="box2">
  <div class="box3">
    <h3>ユーザー一覧</h3>
    <table>
      <tr>
        <th>ユーザー名</th>
        <th>メールアドレス</th>
        <th></th>
        <th></th>
      </tr>
      <tr>
      <% @users.each do |user| %>
        <td><%= user.nickname %></td>
        <td><%= user.email %></td>
        <td><%= link_to "削除", admin_user_path(user.id), method: :delete,class:"btn btn-sm btn-danger" %></td>
        <td><%= link_to "レビュー一覧", admin_user_path(user.id), class:"btn btn-sm btn-danger" %></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <% end %>
    </table>
    <%= paginate @users %>
  </div>
</div>